<!-- ============================================ -->
<!--                Featured Posts                -->
<!-- ============================================ -->

<div id="blog-sidebar">
    <!--Featured-->
    <div class="cs-featured-group">
        <span class="cs-sidebar-header">Featured Posts</span>
        {%- for post in collections.featured | reverse -%}
            <a class="cs-sidebar-link" href="{{ post.url }}">
                <picture class="cs-sidebar-img">
                    <source media="(max-width: 600px)" srcset="./assets/images/landing-construction.jpg">
                    <source media="(min-width: 601px)" srcset="./assets/images/landing-construction.jpg">
                    <img decoding="async" src="./assets/images/landing-construction.jpg" alt="construction" width="2250" height="1500" aria-hidden="true">
                </picture>
                <div class="cs-content-group">
                    <h3 class="cs-sidebar-title">{{ post.data.title }}</h3>
                    <span class="cs-sidebar-date">{{ post.date | postDate }}</span>
                </div>
            </a>
        {%- endfor -%}
    </div>
</div>