---
title: "About Us | Eleventy Starter Template"
description: "Learn more about Eleventy Starter Template: our mission, values, etc."
permalink: "/about/"
lang: en
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="preload" as="image" href="/assets/images/banner.webp" type="image/webp"/>
    <link rel="preload" as="image" href="/assets/images/services/sbs.webp" type="image/webp"/>
    <link rel="stylesheet" href="/assets/css/about.css">
{% endblock %}

{% block body %}

<!-- ============================================ -->
<!--                   Banner                     -->
<!-- ============================================ -->

<div id="banner">
    <div class="cs-container">
        <span class="cs-int-title">About Us</span>
    </div>
    <!--Background Image-->
    <picture class="cs-background">
        <source media="(max-width: 600px)" srcset="/assets/images/banner.webp">
        <source media="(min-width: 601px)" srcset="/assets/images/banner.webp">
        <img aria-hidden="true" loading="lazy" decoding="async" 
            src="/assets/images/banner.webp" alt="image banner" width="1920" height="375">
    </picture>
</div>
   <!-- ============================================ -->
<!--                Side By Side                  -->
<!-- ============================================ -->

<section id="sbs">
	<div class="cs-container">
		<!-- Left Image Section -->
		<div class="cs-left">
			<picture class="cs-picture cs-picture1">
          		<source media="(max-width: 600px)" srcset="/assets/images/services/sbs.webp">
          		<source media="(min-width: 601px)" srcset="/assets/images/services/sbs.webp">
          		<img aria-hidden="true" loading="lazy" decoding="async" src="/assets/images/services/sbs.webp" alt="commercial fit-out" width="275" height="132">
      		</picture>
		</div>
		<!-- Right Content Section-->
		<div class="cs-right">
			<span class="cs-topper">About Us</span>
			<h2 class="cs-title">About Company Title</h2>
			<p class="cs-text">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
			</p>
			<p class="cs-text">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.			
			</p>
			<div class="cs-flex-group">
				<p class="cs-flex-p">Successus clientium nostrorum successus noster est. Dediti sumus eventibus qui per se loquuntur.</p>
				<span class="cs-name">John Doe</span>
				<span class="cs-job">CEO & Founder</span>
			</div>
			<a href="/about/" class="cs-button-solid">More About Us</a>
		</div>
	</div>
</section>
                                

    {% include 'sections/cta.html' %}

{% endblock %}