---
title: "Blog | Code Stitch Web Designs"
description: "Meta description for the page"
permalink: "/blog/"
lang: en
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/blog.css">
    <link rel="preload" as="image" href="/assets/images/banner.jpg" type="image/jpg"/>
{% endblock %}

{% block body %}
    <!-- ============================================ -->
    <!--                   Banner                     -->
    <!-- ============================================ -->

    <div id="banner-310">
        <div class="cs-container">
            <span class="cs-int-title">Blog</span>
            <div class="cs-breadcrumbs">
                <a href="/" class="cs-link">Home</a>
                <a href="/blog/" class="cs-link cs-active">Blog</a>
            </div>
        </div>
        <!--Background Image-->
        <picture class="cs-background">
            <source media="(max-width: 600px)" srcset="./assets/images/landing-construction.jpg">
            <source media="(min-width: 601px)" srcset="./assets/images/landing-construction.jpg">
            <img decoding="async" src="./assets/images/landing-construction.jpg" alt="construction" width="2250" height="1500" aria-hidden="true">
        </picture>
    </div>

    <!-- ============================================ -->
    <!--                 Blog Listings                -->
    <!-- ============================================ -->

    <div id="blog-listing">
        <div class="cs-container">
            {% if collections.post | length == 0 %}
                <h1 class="cs-title">
                    No Recent Posts
                </h1>
            {% else %}
                {%- for post in collections.post | reverse -%}
                    <article class="cs-article">
                        <picture class="cs-article-image">
                            <source media="(max-width: 600px)" srcset="./assets/images/landing-construction.jpg">
                            <source media="(min-width: 601px)" srcset="./assets/images/landing-construction.jpg">
                            <img decoding="async" src="./assets/images/landing-construction.jpg" alt="construction" width="2250" height="1500" aria-hidden="true">
                        </picture>
                        <div class="cs-article-group">
                            <div class="cs-author-group">
                                <picture class="cs-author-img">
                                    <img src="/assets/svgs/profile.svg" alt="Profile icon" width="32" height="32" decoding="async" loading="lazy" aria-hidden="true" />
                                </picture>
                                <span class="cs-author-name">{{ post.data.author }}</span>
                                <span aria-hidden="true" class="cs-dot"></span>
                                <span class="cs-date">{{ post.date | postDate }}</span>
                            </div>
                            <h2 class="cs-article-title">
                                {{ post.data.title }}
                            </h2>
                            <p class="cs-article-desc">
                                {{ post.data.description }}
                            </p>
                            <a href="{{ post.url }}" class="cs-button-solid">Continue Reading</a>
                        </div>
                    </article>
                {%- endfor -%}
            {% endif %}
        </div>

        {% include 'components/featured-posts.html' %}
    </div>
{% endblock %}
