---
title: "Contact | Example Construct Ltd."
description: "Contact Example Construct Ltd."
permalink: "/contact/"
lang: en
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/contact.css">
    <link rel="preload" as="image" href="/assets/images/banner.jpg" type="image/jpg"/>

    {% endblock %}

{% block body %}

    <!-- ============================================ -->
    <!--                   Banner                     -->
    <!-- ============================================ -->
 
<div id="banner">
    <div class="cs-container">
        <span class="cs-int-title">Contact</span>
    </div>
    <!--Background Image-->
    <picture class="cs-background">
        <source media="(max-width: 600px)" srcset="/assets/images/banner.jpg">
        <source media="(min-width: 601px)" srcset="/assets/images/banner.jpg">
        <img aria-hidden="true" loading="lazy" decoding="async" 
            src="/assets/images/banner.jpg" alt="image banner" width="1920" height="375">
    </picture>
</div>

<!-- ============================================ -->
<!--                   Contact                    -->
<!-- ============================================ -->

<section id="contact">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Contact Us</span>
            <h2 class="cs-title">Make An Appointment</h2>
            <!--Form-->
            <form class="cs-form" id="cs-form-1105" name="Contact Form" method="post">
                <label class="cs-label">
                    Name
                    <input class="cs-input" required type="text" id="name-1105" name="name" placeholder="Name">
                </label>
                <label class="cs-label cs-email">
                    Email
                    <input class="cs-input" required type="email" id="email-1105" name="email" placeholder="Email">
                </label>
                <label class="cs-label cs-phone">
                    Phone
                    <input class="cs-input" required type="phone" id="phone-1105" name="phone" placeholder="Phone">
                </label>
                <label class="cs-label">
                    Message
                    <textarea class="cs-input cs-textarea" required name="Message" id="message-1105" placeholder="Write message..."></textarea>
                </label>
                <button class="cs-button-solid cs-submit" type="submit">Make an Appointment</button>
            </form>
        </div>
        <ul class="cs-ul">
            <li class="cs-li">
                <picture class="cs-icon-wrapper">
                    <img aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/mech-phone.svg" alt="phone icon" class="cs-icon" width="40" height="40" decoding="async">
                </picture>
                <div class="cs-flex-group">
                    <span class="cs-header">Phone</span>
                    <a href="tel:888-4565-789
                    " class="cs-link">+1 (234) 4565 789
                    </a>
                </div>
            </li>
            <li class="cs-li">
                <picture class="cs-icon-wrapper">
                    <img aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/mech-email.svg" alt="mail icon" class="cs-icon" width="40" height="40" decoding="async">
                </picture>
                <div class="cs-flex-group">
                    <span class="cs-header">Email</span>
                    <a href="mailto:info@exampleconstruct.com" class="cs-link">info@exampleconstruct.com</a>
                </div>
            </li>
            <li class="cs-li">
                <picture class="cs-icon-wrapper">
                    <img aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/mech-pin.svg" alt="address icon" class="cs-icon" width="40" height="40" decoding="async">
                </picture>
                <div class="cs-flex-group">
                    <span class="cs-header">Address</span>
                    <a href="" class="cs-link">1234 WoodGate, NY 123</a>
                </div>
            </li>
        </ul>
    </div>
</section>
                                                                                            
                            
{% endblock %}