---
title: "Portfolio | Eleventy Starter Template"
description: "Portfolio Eleventy Starter Template"
permalink: "/portfolio/"
lang: en
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/portfolio.css">
    <link rel="preload" as="image" href="/assets/images/banner.jpg" type="image/jpg"/>

{% endblock %}

{% block body %}


<!-- ============================================ -->
<!--                   Banner                     -->
<!-- ============================================ -->


  <div id="banner">
    <div class="cs-container">
        <span class="cs-int-title">Portfolio</span>
    </div>
    <!--Background Image-->
    <picture class="cs-background">
        <source media="(max-width: 600px)" srcset="/assets/images/banner.jpg">
        <source media="(min-width: 601px)" srcset="/assets/images/banner.jpg">
        <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/images/banner.jpg" alt="banner image" width="1920" height="375">
    </picture>
</div>                                               

<!-- ============================================ -->
<!--                 Content Page                 -->
<!-- ============================================ -->

<section id="gallery">
  <div class="cs-container">
    <span class="cs-topper">Our Portfolio</span>
    <h2 class="cs-title">
      Expert Backup Generator Installation Services
    </h2>
    <div class="cs-image-group">
      <!-- Row 1-->
      <div class="cs-row cs-row-1">
        <!-- To add more images, copy and paste this row's picture tags here in order from cs-picture-1 to cs-picture-3 and they will maintain the same layout-->
        <picture class="cs-picture cs-picture1">
          <source media="(max-width: 600px)" srcset="/assets/images/portfolio/port1.jpg">
            <source media="(min-width: 601px)" srcset="/assets/images/portfolio/port1.jpg">
            <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/images/portfolio/port1.jpg" alt="commercial fit-out" width="275" height="132">
        </picture>
        <picture class="cs-picture cs-picture2">
          <source media="(max-width: 600px)" srcset="/assets/images/portfolio/port4.jpg">
            <source media="(min-width: 601px)" srcset="/assets/images/portfolio/port4.jpg">
            <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/images/gallery/port4.jpg" alt="commercial fit-out" width="275" height="132">
        </picture>
        <picture class="cs-picture cs-picture3">
          <source media="(max-width: 600px)" srcset="/assets/images/portfolio/port7.jpg">
            <source media="(min-width: 601px)" srcset="/assets/images/portfolio/port7.jpg">
            <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/images/portfolio/port7.jpg" alt="commercial fit-out" width="275" height="132">
        </picture>
      </div>
      <!-- Row 2 -->
      <div class="cs-row cs-row-2">
        <!-- To add more images, copy and paste this row's picture tags here in order from cs-picture-1 to cs-picture-3 and they will maintain the same layout-->
        <picture class="cs-picture cs-picture1">
          <source media="(max-width: 600px)" srcset="/assets/images/portfolio/port2.jpg">
            <source media="(min-width: 601px)" srcset="/assets/images/portfolio/port2.jpg">
            <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/images/portfolio/port2.jpg" alt="commercial fit-out" width="275" height="132">
        </picture>
        <picture class="cs-picture cs-picture2">
          <source media="(max-width: 600px)" srcset="/assets/images/portfolio/port5.jpg">
            <source media="(min-width: 601px)" srcset="/assets/images/portfolio/port5.jpg">
            <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/images/portfolio/port5.jpg" alt="commercial fit-out" width="275" height="132">
        </picture>
        <picture class="cs-picture cs-picture3">
          <source media="(max-width: 600px)" srcset="/assets/images/portfolio/port8.jpg">
            <source media="(min-width: 601px)" srcset="/assets/images/portfolio/port8.jpg">
            <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/images/portfolio/port8.jpg" alt="commercial fit-out" width="275" height="132">
        </picture>
      </div>
      <!-- Row 3 -->
      <div class="cs-row cs-row-3">
        <!-- To add more images, copy and paste this row's picture tags here in order from cs-picture-1 to cs-picture-3 and they will maintain the same layout-->
        <picture class="cs-picture cs-picture1">
          <source media="(max-width: 600px)" srcset="/assets/images/portfolio/port3.jpg">
            <source media="(min-width: 601px)" srcset="/assets/images/portfolio/port3.jpg">
            <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/images/portfolio/port3.jpg" alt="commercial fit-out" width="275" height="132">
        </picture>
        <picture class="cs-picture cs-picture2">
          <source media="(max-width: 600px)" srcset="/assets/images/portfolio/port6.jpg">
            <source media="(min-width: 601px)" srcset="/assets/images/portfolio/port6.jpg">
            <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/images/portfolio/port6.jpg" alt="commercial fit-out" width="275" height="132">
        </picture>
        <picture class="cs-picture cs-picture3">
          <source media="(max-width: 600px)" srcset="/assets/images/portfolio/port9.jpg">
            <source media="(min-width: 601px)" srcset="/assets/images/portfolio/port9.jpg">
            <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/images/portfolio/port9.jpg" alt="commercial fit-out" width="275" height="132">
        </picture>
      </div>
    </div>
    <a href="/projects/" class="cs-button-solid">View all projects</a>
  </div>
</section>

                                                                                                            
{% include 'sections/cta.html' %}
                         
{% endblock %}
