/* ─────────────────────────────────────────────────────────────────────────────
   CRITICAL PAGE STYLES
   Above-the-fold and high-priority styles for the home page's landing section.
   Put the first section of the home page in here, so it loads immediately.
   The rest of the home page styles in local.css will be deferred and
   ───────────────────────────────────────────────────────────────────────────── */

 /*-- -------------------------- */
/*           Hero              */
/*---------------------------- */

/* Mobile - 360px */
@media only screen and (min-width: 0em) {
  #hero {
    font-family: "Roboto", "Arial", sans-serif;
    text-align: center;
    padding: 0 1rem;
    padding-bottom: 6.25rem;
    position: relative;
    z-index: 1;
    overflow: hidden;
  }

  #hero .cs-picture {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
  }

  #hero .cs-picture::before {
    content: "";
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.7;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    pointer-events: none;
  }

  #hero .cs-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }

  #hero .cs-container {
    width: 100%;
    max-width: 80em;
    margin: auto;
    padding: clamp(9em, 25.95vw, 17.5em) 0;
    position: relative;
  }

  #hero .cs-container::before {
    content: "";
    width: 1px;
    height: 100%;
    background: linear-gradient(
      to bottom,
      rgba(250, 251, 252, 0.5) 0%,
      rgba(250, 251, 252, 0) 100%
    );
    position: absolute;
    top: 0;
    left: 0;
  }

  #hero .cs-flex-group {
    width: 80vw;
    max-width: clamp(29em, 60vw, 35.125em);
    margin: auto;
    margin-bottom: clamp(3.75em, 15.5vw, 13.75em);
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
  }

  #hero .cs-topper {
    text-align: center;
    margin-bottom: 1rem;
    color: var(--primary);
  }

  #hero .cs-title {
    text-align: center;
    width: 100%;
    color: var(--bodyTextColorWhite);
  }

  #hero .cs-text {
    text-align: center;
    margin: 0 auto clamp(2rem, 4vw, 2.5rem) 0;
    margin-bottom: clamp(2.5rem, 4vw, 3rem);
    color: var(--bodyTextColorWhite);
  }

  #hero .cs-button-solid {
    line-height: clamp(2.875em, 5.5vw, 3.5em);
    height: initial;
    margin-bottom: 1rem;
  }

  #hero .cs-button-transparent {
    font-size: 1rem;
    font-weight: 700;
    line-height: clamp(2.875em, 5.5vw, 3.5em);
    text-decoration: none;
    width: 11.25rem;
    height: clamp(2.875em, 5.5vw, 3.5em);
    margin: 0 0.5rem;
    box-sizing: border-box;
    padding: 0;
    color: #fff;
    background-color: transparent;
    border: 1px solid var(--bodyTextColorWhite);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
  }

  #hero .cs-button-transparent::before {
    content: "";
    background: #000;
    position: absolute;
    top: -1px;
    right: -1px;
    bottom: -1px;
    left: -1px;
    z-index: -1;
    transform: scaleX(0);
    transition: transform 0.3s;
    transform-origin: left;
  }

  #hero .cs-button-transparent:hover::before {
    transform: scaleX(1);
  }

  #hero .cs-button-transparent .cs-img {
    margin-right: 0.75rem;
    display: block;
  }
}

/* Tablet - 768px */
@media only screen and (min-width: 48em) {
  #hero {
    padding: 0 clamp(2em, 5vw, 2.5em);
  }

  #hero .cs-container {
    padding: clamp(7em, 27.95vw, 17.5em) 0 clamp(9em, 30.95vw, 23.5em) 0;
  }

  #hero .cs-container::after {
    content: "";
    width: 1px;
    height: 100%;
    background: linear-gradient(
      to bottom,
      rgba(250, 251, 252, 0) 0%,
      rgba(250, 251, 252, 0.5) 100%
    );
    position: absolute;
    top: 0;
    right: 0;
  }

  #hero .cs-button-solid {
    margin-right: 1.25rem;
    margin-bottom: 0;
  }
}

/* Desktop - 1300px */
@media only screen and (min-width: 81.25em) {
  #hero {
    /* no extra styles */
  }
}

/* Dark Mode */
@media only screen and (min-width: 0em) {
  body.dark-mode #hero .cs-background::before {
    opacity: 0.8;
  }
}                               


/*-- -------------------------- -->
<---          Services          -->
<--- -------------------------- -*/
/* Mobile */
@media only screen and (min-width: 0em) {
  .service {
    border-radius: 0.3125em;
    margin: auto;
    margin-top: -10.4375em;
    position: relative;
    z-index: 100;
    background: #fff;
    width: 90%;
    max-width: 82.5em;
    padding: 3.125em 1.25em;
    border-top: 0.375em solid var(--primary);
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.05);
    margin-bottom: 3.125em;
  
   .card {
    display: block;
    width: 100%;
    max-width: 22.3125em;
    margin: auto;
    margin-bottom: 3.125em;
  }
   .card:last-of-type {
    margin-bottom: 0;
  }
   .card picture {
    background: var(--primary);
    width: 5.5em;
    height: 5.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-bottom: 1.4375em;
    border-radius: 50%;
  }
   .card picture img {
    width: 3em;
    height: 3em;
  }
   .card h2 {
    text-align: center;
    font-size: 2em;
    line-height: 1.35em;
    font-weight: 700;
    color: #1a1a1a;
    margin-bottom: 0.65em;
  }
   .card p {
    text-align: center;
    line-height: 1.33333333em;
    width: 100%;
    opacity: .7;
  }
}
}
/* Inbetween */
@media only screen and (min-width: 768px) {
  .service {
    font-size: min(1.8vw, 1em);
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 98%;
  
   .card {
    margin: 0;
    max-width: 20.3125em;
  }
}
}
/* Large Desktop */
@media only screen and (min-width: 1300px) {
  .service {
    padding: 3.125em 5em;
  
   .card {
    max-width: 22.3125em;
  }
}
}
/* Dark mode */
@media only screen and (min-width: 0em) {
    body.dark-mode #service {
        background: var(--medium);
        picture {
            background: var(--primaryDark);
        }
        h2 {
            color: #fff;
            font-weight: bold;
        }
    }
}