/* ─────────────────────────────────────────────────────────────────────────────
   HOME PAGE STYLES
   Below-the-fold styles for the homepage that load after critical styles.
   ───────────────────────────────────────────────────────────────────────────── */

/*-- -------------------------- -->
<---       Side By Side         -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0em) {
    #sbs {
        padding: var(--sectionPadding);
    }

    #sbs .cs-container {
        width: 100%;
        max-width: 80rem;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 2.5rem;
    }

    #sbs .cs-left {
        font-size: min(2.31vw, 0.7em);
        width: 39.4375em;
        height: 39.75em;
        position: relative;
    }

    #sbs .cs-picture {
        border-radius: 1.5em;
        display: block;
        position: absolute;
        overflow: hidden;
    }

    #sbs .cs-picture img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
    }

    #sbs .cs-picture1 {
        width: 39.625em;
        height: 35.3125em;
        top: 0;
        left: 0;
      /*  margin-left: 1rem;*/
    }

    #sbs .cs-picture2 {
        width: 25.875em;
        height: 25em;
        background-color: #fff;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 40px;
        border: clamp(0.375em, 1.5vw, 0.75em) solid #fff;
        right: 0;
        bottom: 0;
    }

    #sbs .cs-right {
        max-width: 39.4375rem;
        height: 39.75em;
        margin: auto;
        padding-top: 1rem;
    }

    #sbs .cs-topper {
        text-align: left;
        margin-bottom: 0.25rem;
    }

    #sbs .cs-title {
        text-align: left;
        max-width: 50rem;
    }

    #sbs .cs-text {
        text-align: left;
        max-width: 46.875rem;
        margin-bottom: 1rem;
    }

    #sbs .cs-text:last-of-type {
        margin-bottom: 2rem;
    }

    #sbs .cs-flex-group {
        padding: clamp(1rem, 3vw, 2rem);
        background-color: #f7f7f7;
        border-radius: 1rem;
        position: relative;
    }

    #sbs .cs-flex-p {
        font-size: clamp(0.875rem, 1.5vw, 1rem);
        line-height: 1.5em;
        margin: 0 0 1rem;
        color: #353535;
    }

    #sbs .cs-name {
        font-size: 1rem;
        font-weight: bold;
        line-height: 1.2em;
        text-transform: uppercase;
        margin: 0 0 0.25rem;
        color: var(--headerColor);
        display: block;
    }

    #sbs .cs-job {
        font-size: 0.875rem;
        line-height: 1.5em;
        color: #353535;
        display: block;
    }

    #sbs .cs-quote-icon {
        width: clamp(3.75rem, 10vw, 8.5rem);
        height: auto;
        position: absolute;
        right: clamp(1rem, 4vw, 2rem);
        bottom: 0;
    }

    #sbs .cs-button-solid {
        margin-top: 2rem;
    }
}

/* Desktop - 1024px */
@media only screen and (min-width: 64em) {
    #sbs .cs-container {
        flex-flow: row;
        justify-content: space-between;
        gap: 3.25rem;
    }

    #sbs .cs-left {
        font-size: min(1.2vw, 1em);
        flex: none;
    }

    #sbs .cs-right {
        margin: 0;
    }
}

/* Dark Mode */
@media only screen and (min-width: 0em) {
    body.dark-mode #sbs .cs-left:before,
    body.dark-mode #sbs .cs-left:after {
        background: var(--accent);
    }

    body.dark-mode #sbs .cs-picture2 {
        background-color: var(--dark);
        border: clamp(0.375em, 1.5vw, 0.75em) solid var(--dark);
    }

    body.dark-mode #sbs .cs-topper {
        color: var(--primaryLight);
    }

    body.dark-mode #sbs .cs-title,
    body.dark-mode #sbs .cs-text,
    body.dark-mode #sbs .cs-h3,
    body.dark-mode #sbs .cs-flex-p,
    body.dark-mode #sbs .cs-name {
        color: var(--bodyTextColorWhite);
    }

    body.dark-mode #sbs .cs-flex-group {
        background-color: var(--accent);
    }

    body.dark-mode #sbs .cs-job {
        color: var(--bodyTextColorWhite);
        opacity: 0.8;
    }

    body.dark-mode #sbs .cs-quote-icon {
        opacity: 0.2;
    }
}                   
                                
/*-- -------------------------- -->
<---       Side By Side Reverse        -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0em) {
    #sbs-r {
        padding: var(--sectionPadding);
        background-color: #f7f7f7;
    }

    #sbs-r .cs-container {
        width: 100%;
        max-width: 80rem;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 2.5rem;
    }

    #sbs-r .cs-right {
        font-size: min(2.31vw, 0.7em);
        width: 39.4375em;
        height: 39.75em;
        position: relative;
    }

    #sbs-r .cs-picture {
        border-radius: 1.5em;
        display: block;
        position: absolute;
        overflow: hidden;
        margin-top: 1rem;
    }

    #sbs-r .cs-picture img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
    }

    #sbs-r .cs-picture1 {
        width: 39.625em;
        height: 36.3125em;
        top: 0;
        right: 0;
    }

    #sbs-r .cs-picture2 {
        width: 25.875em;
        height: 25em;
        background-color: #fff;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 40px;
        border: clamp(0.375em, 1.5vw, 0.75em) solid #fff;
        bottom: 0;
        left: 0;
    }

    #sbs-r .cs-left {
        max-width: 33.875rem;
        margin: auto;
    }

    #sbs-r .cs-topper {
        text-align: left;
        margin-bottom: 0.25rem;
    }

    #sbs-r .cs-title {
        text-align: left;
        max-width: 50rem;
        padding-bottom: 1rem;
    }

    #sbs-r .cs-text {
        text-align: left;
        max-width: 46.875rem;
        margin-bottom: 1rem;
    }

    #sbs-r .cs-text:last-of-type {
        margin-bottom: 2rem;
    }

    #sbs-r .cs-flex-group {
        padding: clamp(1rem, 3vw, 2rem);
        background-color: #f7f7f7;
        border-radius: 1rem;
        position: relative;
    }

    #sbs-r .cs-flex-p {
        font-size: clamp(0.875rem, 1.5vw, 1rem);
        line-height: 1.5em;
        margin: 0 0 1rem;
        color: #353535;
    }

    #sbs-r .cs-name {
        font-size: 1rem;
        font-weight: bold;
        line-height: 1.2em;
        text-transform: uppercase;
        margin: 0 0 0.25rem;
        color: var(--headerColor);
        display: block;
    }

    #sbs-r .cs-job {
        font-size: 0.875rem;
        line-height: 1.5em;
        color: #353535;
        display: block;
    }

    #sbs-r .cs-quote-icon {
        width: clamp(3.75rem, 10vw, 8.5rem);
        height: auto;
        position: absolute;
        right: clamp(1rem, 4vw, 2rem);
        bottom: 0;
    }
}

/* Desktop - 1024px */
@media only screen and (min-width: 64em) {
    #sbs-r .cs-container {
        flex-flow: row;
        justify-content: space-between;
        gap: 3.25rem;
    }

    #sbs-r .cs-right {
        font-size: min(1.2vw, 1em);
        order: 2;
        flex: none;
    }

    #sbs-r .cs-right {
        margin: 0;
    }
}

/* Dark Mode */
@media only screen and (min-width: 0em) {
    body.dark-mode #sbs-r .cs-left:before,
    body.dark-mode #sbs-r .cs-left:after {
        background: var(--accent);
    }

    body.dark-mode #sbs-r .cs-picture2 {
        background-color: var(--dark);
        border: clamp(0.375em, 1.5vw, 0.75em) solid var(--dark);
    }

    body.dark-mode #sbs-r .cs-topper {
        color: var(--primaryLight);
    }

    body.dark-mode #sbs-r .cs-title,
    body.dark-mode #sbs-r .cs-text,
    body.dark-mode #sbs-r .cs-h3,
    body.dark-mode #sbs-r .cs-flex-p,
    body.dark-mode #sbs-r .cs-name {
        color: var(--bodyTextColorWhite);
    }

    body.dark-mode #sbs-r .cs-flex-group {
        background-color: var(--accent);
    }

    body.dark-mode #sbs-r .cs-job {
        color: var(--bodyTextColorWhite);
        opacity: 0.8;
    }

    body.dark-mode #sbs-r .cs-quote-icon {
        opacity: 0.2;
    }
}

/*-- -------------------------- -->
<---          Gallery           -->
<--- -------------------------- -*/

/* Mobile - base styles */
@media only screen and (min-width: 0em) {
  #gallery {
    text-align: center;
    padding: var(--sectionPadding);
    position: relative;
    overflow: hidden;
  }

  #gallery .cs-container {
    width: 100%;
    max-width: 82.625rem; /* 1322px */
    margin: auto;
  }

  #gallery .cs-topper {
    text-align: center;
    margin-bottom: 1rem;
  }

  #gallery .cs-title {
    text-align: center;
    max-width: 38.8125rem; /* 621px */
    margin: 0 auto 2.5rem;
  }

  #gallery .cs-image-group {
    font-size: min(1.1vw, 1em);
    width: 100%;
    max-width: 82.625rem;
    margin: 0 auto 3.75rem;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 1.875rem;
  }

  #gallery .cs-row {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 1.875rem;
  }

  #gallery .cs-picture {
    display: block;
    position: relative;
  }

  #gallery .cs-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }

  /* Row 1 */
  #gallery .cs-row-1 .cs-picture1 {
    width: 26.25rem;
    height: 35.4375rem;
  }

  #gallery .cs-row-1 .cs-picture2 {
    width: 26.25rem;
    height: 39.3125rem;
  }

  #gallery .cs-row-1 .cs-picture3 {
    width: 26.25rem;
    height: 32rem;
  }

  /* Row 2 */
  #gallery .cs-row-2 .cs-picture1 {
    width: 26.25rem;
    height: 30.75rem;
  }

  #gallery .cs-row-2 .cs-picture2 {
    width: 26.25rem;
    height: 32.3125rem;
  }

  #gallery .cs-row-2 .cs-picture3 {
    width: 26.25rem;
    height: 39.3125rem;
  }

  /* Row 3 */
  #gallery .cs-row-3 .cs-picture1 {
    width: 26.25rem;
    height: 39.0625rem;
  }

  #gallery .cs-row-3 .cs-picture2 {
    width: 26.25rem;
    height: 28.25rem;
  }

  #gallery .cs-row-3 .cs-picture3 {
    width: 26.25rem;
    height: 39.3125rem;
  }
}

/* Dark mode */
@media only screen and (min-width: 0em) {
  body.dark-mode #gallery .cs-title {
    color: var(--bodyTextColorWhite);
  }
}


/*-- -------------------------- -->
<---          Reviews           -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0em) {
    #reviews {
        text-align: center;
        padding: var(--sectionPadding);
    }

    #reviews .cs-container {
        width: 100%;
        max-width: 69rem;
        margin: auto;
    }

    #reviews .cs-topper {
        text-align: center;
        margin-bottom: 1rem;
    }

    #reviews .cs-title {
        text-align: center;
        max-width: 43.75rem;
        margin: 0 auto 1rem;
    }

    #reviews .cs-text {
        text-align: center;
        max-width: 40.625rem;
        margin: 0 auto clamp(5.5em, 10.2vw, 6.5em);
    }

    #reviews .cs-card-group {
        margin: 0 auto clamp(3rem, 5vw, 4rem);
        padding: 0;
    }

    #reviews .cs-item {
        text-align: left;
        list-style: none;
        width: 100%;
        max-width: 33.875rem;
        margin: 0 auto 4rem;
        box-sizing: border-box;
        padding: 3.75rem clamp(1rem, 3.2vw, 2rem) 0;
        padding-bottom: clamp(2rem, 5.4vw, 2.5rem);
        background: #fff;
        box-shadow: 0px 20px 39px 0px rgba(0, 0, 0, 0.05);
        border-radius: 0.25rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        position: relative;
    }

    #reviews .cs-item:last-of-type {
        margin-bottom: 0;
    }

    #reviews .cs-item-img {
        width: 5rem;
        height: 5rem;
        position: absolute;
        top: -2.5rem;
    }

    #reviews .cs-item-p {
        font-size: 1rem;
        line-height: 1.5em;
        margin: 0 0 1.25rem;
        padding-bottom: 1.25rem;
        color: var(--bodyTextColor);
        border-bottom: 1px solid #e8e9ec;
    }

    #reviews .cs-reviewer {
        font-size: 1rem;
        font-weight: 700;
        line-height: 1.5em;
        width: 40%;
        margin: 0 auto 0 0;
        color: var(--headerColor);
        display: block;
    }

    #reviews .cs-desc {
        font-size: 0.875rem;
        font-weight: 400;
        color: #353535;
        display: block;
    }

    #reviews .cs-item-stars {
        width: 6rem;
        height: 1rem;
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48em) {
    #reviews .cs-card-group {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;
    }

    #reviews .cs-item {
        margin: 0;
    }
}

/* Dark Mode */
@media only screen and (min-width: 0em) {
    body.dark-mode #reviews .cs-title,
    body.dark-mode #reviews .cs-text,
    body.dark-mode #reviews .cs-item-p,
    body.dark-mode #reviews .cs-reviewer {
        color: var(--bodyTextColorWhite);
    }

    body.dark-mode #reviews .cs-item {
        background: var(--medium);
    }

    body.dark-mode #reviews .cs-desc {
        color: var(--primaryLight);
    }
}


/*-- -------------------------- -->
<---            FAQ             -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0em) {
    #faq {
        padding: var(--sectionPadding);
        background: #fafbfc;
    

    .cs-container {
        width: 100%;
        max-width: 34.375rem; /* 550/16rem */
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: clamp(3rem, 6vw, 4rem);
    }

    .cs-content {
        text-align: center;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .cs-faq-group {
        padding: 0;
        margin: 0;
        margin-bottom: 3rem; /* 48/16rem */
    }

    .cs-faq-item {
        list-style: none;
        border-bottom: 1px solid #dad9e3;
        transition: border-bottom 0.3s;
    }

    .cs-faq-item.active {
        border-bottom: 1px solid var(--primary);
    }

    .cs-faq-item.active .cs-button:before {
        transform: rotate(180deg);
    }

    .cs-faq-item.active .cs-button:after {
        opacity: 0;
        transform: rotate(360deg);
    }

    .cs-faq-item.active .cs-item-p {
        height: auto;
        margin-bottom: clamp(0.75rem, 1.3vw, 1rem);
        opacity: 1;
    }

    .cs-button {
        font-size: clamp(1rem, 2vw, 1.25rem);
        line-height: 1.2em;
        text-align: left;
        font-weight: bold;
        padding: clamp(0.75rem, 1.3vw, 1rem) 0;
        background: transparent;
        border: none;
        color: var(--headerColor);
        display: block;
        width: 100%;
        position: relative;
    }

    .cs-button:hover {
        cursor: pointer;
    }

    .cs-button:before {
        content: "";
        width: 0.75rem; /* 12/16rem */
        height: 0.125rem; /* 2/16rem */
        background: var(--headerColor);
        opacity: 1;
        position: absolute;
        display: block;
        top: 50%;
        right: 0.25rem; /* 4/16rem */
        transition: transform 0.3s;
    }

    .cs-button:after {
        content: "";
        width: 0.75rem; /* 12/16rem */
        height: 0.125rem; /* 2/16rem */
        background: var(--headerColor);
        opacity: 1;
        position: absolute;
        display: block;
        top: 50%;
        right: 0.25rem; /* 4/16rem */
        transform: rotate(90deg);
        transform-origin: center;
        transition: opacity 0.5s, transform 0.3s;
    }

    .cs-item-p {
        font-size: clamp(0.875rem, 1.5vw, 1rem);
        line-height: 1.5em;
        width: 90%;
        height: 0;
        margin: 0;
        opacity: 0;
        color: var(--bodyTextColor);
        overflow: hidden;
        transition: opacity 0.3s, margin-bottom 0.3s;
    }

    .cs-cta {
        text-align: center;
        padding: clamp(3rem, 4.9vw, 4rem) clamp(2.5rem, 4vw, 3.5rem);
        background: var(--primaryLight);
        border-radius: 1rem; /* 16/16rem */
        box-sizing: border-box;
    }

    .cs-h3 {
        font-size: clamp(1.5625rem, 3vw, 1.9375rem);
        line-height: 1.2em;
        font-weight: bold;
        text-align: center;
        margin: 0;
        margin-bottom: 1rem; /* 16/16rem */
        color: var(--headerColor);
    }

    .cs-cta-p {
        font-size: clamp(1rem, 2vw, 1.25rem);
        text-align: center;
        line-height: 1.5em;
        margin: 0;
        margin-bottom: clamp(2rem, 3.9vw, 3rem);
    }

    .cs-button-solid {
        font-size: 1rem;
        line-height: clamp(2.875rem, 5.5vw, 3.5rem);
        text-decoration: none;
        font-weight: 700;
        text-align: center;
        margin: 0;
        color: #fff;
        min-width: 9.375rem; /* 150/16rem */
        padding: 0 1.5rem; /* 24/16rem */
        background-color: var(--primary);
        border-radius: 0.25rem; /* 4/16rem */
        display: inline-block;
        position: relative;
        z-index: 1;
        box-sizing: border-box;
    }

    .cs-button-solid:before {
        content: "";
        position: absolute;
        height: 100%;
        width: 0%;
        background: #000;
        opacity: 1;
        top: 0;
        left: 0;
        z-index: -1;
        border-radius: 0.25rem;
        transition: width 0.3s;
    }

    .cs-button-solid:hover:before {
        width: 100%;
    }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48em) {
    #faq .cs-container {
        max-width: 67.5rem; /* 1080/16rem */
    }

    #faq .cs-flex-group {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        gap: clamp(1rem, 3.5vw, 3rem);
    }

    #faq .cs-faq-group {
        margin: 0;
    }

    #faq .cs-cta {
        width: 38.5%;
        max-width: 25.8125rem; /* 413/16rem */
        flex: none;
    }
}

/* Dark Mode */
@media only screen and (min-width: 0em) {
    body.dark-mode #faq {
        background-color: transparent;
    

       .cs-topper {
            color: var(--primaryLight);
        }

        .cs-title,
        .cs-text {
            color: var(--bodyTextColorWhite);
        }

        .cs-button {
            color: var(--bodyTextColorWhite);
        }

    .cs-button:before,
    .cs-button:after {
        background: var(--bodyTextColorWhite);
    }

     .cs-h3,
    .cs-item-p {
        color: var(--bodyTextColorWhite);
    }

   .cs-cta {
        background: var(--medium);
    }
}
}