---
title: "Service Two | Eleventy Starter Template"
description: "Service two - Eleventy Starter Template"
permalink: "/services/service-2/"
lang: en
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/services/service-2.css">
    <link rel="preload" as="image" href="/assets/images/banner.webp" type="image/webp"/>
{% endblock %}

{% block body %}

  <!-- ============================================ -->
<!--                   Banner                     -->
<!-- ============================================ -->

<div id="banner">
    <div class="cs-container">
        <span class="cs-int-title">Service Two</span>
    </div>
    <!--Background Image-->
    <picture class="cs-background">
        <source media="(max-width: 600px)" srcset="/assets/images/banner.webp">
        <source media="(min-width: 601px)" srcset="/assets/images/banner.webp">
        <img aria-hidden="true" loading="lazy" decoding="async" 
            src="/assets/images/banner.webp" alt="image banner" width="1920" height="375">
    </picture>
</div>
<!-- ============================================ -->
<!--              Side By Side Reverse            -->
<!-- ============================================ -->


<section id="services">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Our Expertise</span>
            <h2 class="cs-title">Et harum quidem rerum facilis</h2>
            <p class="cs-text">
                Lorem fames nibh, quam justo nulla elementum ante ligula integer, cum magna ac minus odio. Ipsum sed semper sem libero lectus urna, cras arcu conubia molestie non. Sollicitudin fermentum tincidunt scelerisque vestibulum. Congue lectus mi.
            </p>
            <a href="/portfolio/" class="cs-button-solid">Explore Our Work</a>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <h3 class="cs-h3">Proin iaculis ipsum </h3>
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="/assets/images/services/ServiceTwoOne.webp">
                    <source media="(min-width: 601px)" srcset="/assets/images/services/ServiceTwoOne.webp">
                    <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/images/services/ServiceTwoOne.webp" alt="New home construction framing" width="275" height="132">
                </picture>
            </li>
            <li class="cs-item">
                <h3 class="cs-h3"> Lorem fames nibh</h3>
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="/assets/images/services/ServiceTwoTwo.webp">
                    <source media="(min-width: 601px)" srcset="/assets/images/services/ServiceTwoTwo.webp">
                    <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/images/services/ServiceTwoTwo.webp" alt="Home renovation in progress" width="275" height="132">
                </picture>
            </li>
            <li class="cs-item">
                <h3 class="cs-h3">Congue lectus mi.</h3>
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="/assets/images/services/ServiceTwoThree.webp">
                    <source media="(min-width: 601px)" srcset="/assets/images/services/ServiceTwoThree.webp">
                    <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/images/services/ServiceTwoThree.webp" alt="Modern home addition and extension" width="275" height="132">
                </picture>
            </li>
        </ul>
    </div>
</section>
	

    {% include 'sections/cta.html' %}

{% endblock %}